.table {
  max-width: 74.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.table-top {
  border-bottom: 1px solid $base-bright-blue;
  display: flex;
  align-items: center;
  gap: 2.6rem;
  height: 5.9rem;
  justify-content: space-between;
}

.table-title {
  font-size: 1.8rem;
  color: $base-white;
  font-weight: 400;
  width: 21.7rem;
  text-align: center;
}

.table-bottom {
  .active {
    background: #1b3656;
  }
}

@media (max-width: 1500px) {
  .table {
    max-width: 100%;
  }

  .table-top {
    gap: 1.8rem;
  }

  .table-title {
    font-size: 1.6rem;
  }

  .table-row {
    gap: 1.8rem;

    span {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 1200px) {
  .table {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .table-top {
    gap: 1rem;
  }

  .table-title {
    font-size: 1.4rem;
  }

  .table-row {
    gap: 1rem;

    span {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 425px) {
  .table-top {
    gap: 1rem;
    height: 4.8rem;
  }

  .table {
    gap: 1.6rem;
  }

  .table-title {
    font-size: 1.2rem;
  }

  .table-row {
    gap: 1rem;
    height: 4.8rem;

    span {
      font-size: 1.2rem;
    }
  }
}
