@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 154.2rem;
  width: 100%;
  // overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

a {
  color: $base-black;
  text-decoration: none;
}

p,
span,
a,
input,
button,
ul,
li,
ol,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 150%;
}
