.hero {
  height: 60rem;
  background: url('../images/hero1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -2;
}

.hero-wrapper,
.hero .container {
  height: 100%;
}

.hero-wrapper {
  display: flex;
  align-items: flex-end;
}

.buttons-wrapper {
  display: flex;
}

.hero-button {
  width: 34.8rem;
  height: 11rem;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: 150%;
  padding: 0 5rem;
  // z-index: -1;

  &:first-child {
    background: $base-blue;
    color: $base-white;
  }

  &:last-child {
    background: $base-light-blue;
    color: $base-black;
  }
}

@media (max-width: 1440px) {
  .hero {
    height: 50rem;
  }
  .hero-button {
    width: 28rem;
    height: 8rem;
    font-size: 1.6rem;
    padding: 1.6rem;
  }
}
@media (max-width: 768px) {
  .hero-button {
    width: 24rem;
    height: 8rem;
    font-size: 1.6rem;
    padding: 1.6rem;
  }
}

@media (max-width: 500px) {
  .hero-button {
    width: 20rem;
    height: 8rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 425px) {
  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: absolute;
    left: 0;
  }
  .hero-button {
    width: 100%;
    padding: 0.8rem;
    height: 7rem;
    font-size: 1.4rem;
  }
}
