.news-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.news-post-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2.4rem;
}

@media (max-width: 1160px) {
  .news-post-wrapper {
    gap: 2.4rem;
  }
}
