.news-post {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 50rem;
  width: 100%;
}

.news-post-img {
  max-height: 22.1rem;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news-post-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.news-post-date {
  font-size: 1.6rem;
  color: $base-gray;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.news-post-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: $base-black;
}

.news-post-text {
  font-size: 1.6rem;
  color: $base-gray;
}

.news-post-link {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  transition: 0.3s ease;
  width: fit-content;

  h3 {
    font-size: 1.6rem;
    color: $base-blue;
  }

  &:hover {
    text-decoration: underline;
  }
}

// @media (max-width: 1500px) {
//   .news-post {
//     max-width: 32%;
//   }

//   .news-post-title {
//     font-size: 2rem;
//   }
// }

// @media (max-width: 1160px) {
//   .news-post {
//     // max-width: 48%;
//     gap: 0.8rem;
//   }

//   .news-post-date {
//     margin-bottom: 0;
//     font-size: 1.4rem;
//   }

//   .news-post-title {
//     font-size: 1.6rem;
//   }
// }

// @media (max-width: 1160px) {
//   .news-post {
//     max-width: 48%;
//     gap: 0.8rem;
//   }

//   .news-post-date {
//     margin-bottom: 0;
//     font-size: 1.4rem;
//   }

//   .news-post-title {
//     font-size: 1.6rem;
//   }
// }

// @media (max-width: 1160px) {
//   .news-post {
//     max-width: 48%;
//     gap: 1.6rem;
//   }

//   .news-post-date {
//     margin-bottom: 0.8rem;
//     font-size: 1.6rem;
//   }

//   .news-post-title {
//     font-size: 2rem;
//   }
// }

// @media (max-width: 800px) {
//   .news-post {
//     max-width: 100%;
//     gap: 1.6rem;
//   }
// }

@media (max-width: 500px) {
  .news-post-title {
    font-size: 1.8rem;
  }
}
