.video-player {
  background: $base-gray;
  height: 41.4rem;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 600px) {
  .video-player {
    height: 32rem;
  }
}

@media (max-width: 500px) {
  .video-player {
    height: 24rem;
  }
}

@media (max-width: 400px) {
  .video-player {
    height: 20rem;
  }
}

@media (max-width: 350px) {
  .video-player {
    height: 16rem;
  }
}
